<h1>Edit Trip</h1>
<%= render partial: "trips", locals: {
                                      path: trip_path(@trip.id),
                                      method: :patch,
                                      button: "Submit"
} %>
