<div class="pt-40 flex items-center justify-center h-screen">
  <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <%= link_to sanitize("&larr; Back to Dashboard"), dashboard_path, class: "btn" %>
    <h5 class="text-xl font-medium text-center text-gray-900 dark:text-white">Create a New Trip</h5>
    <div data-controller="trips">
      <div id="searchForm"></div>
      <%= render partial: "trips", locals: {
        path: trips_path,
        method: :post,
        trip_name: "",
        trip_location: "",
        start_date: "",
        end_date: "",
        total_budget: 0,
        button: "Create Trip"
      } %>
    </div>
  </div>
</div>
