<h1 class="text-6xl">Create a New Trip!</h1>

<%= render partial: "trips", locals: {
                                      path: trips_path(current_user.id),
                                      method: :post,
                                      button_text: "Submit"
} %>
