<%= render "trip_information" %>
<h3>Itineraries</h3>

<%= render "daily_activities" %>

<div data-controller="trip-dashboard" data-trip-dashboard-trip-value="<%= @trip.to_json %>"">
  <div id="map">
  </div>
</div>
