<%= render "trip_information" %>

<%= render "daily_activities" %>

<div id="trip-show" data-controller="trip-dashboard" data-trip-dashboard-trip-value="<%= @trip.to_json %>"">
<%= render "shared/map" %>
</div>
