<div data-controller="accommodations">
  <div id="searchForm">
  </div>
  <div class="container">
    <h1 class="text-center text-4xl">Update Accommodation</h1>
  
    <div class="container">
      <%= render partial: "accommodations", locals: {
                                            path: trip_accommodation_path(params[:trip_id], params[:id]),
                                            method: :patch,
                                            name: @accommodation.name,
                                            address: @accommodation.address,
                                            check_in: @accommodation.check_in,
                                            check_out: @accommodation.check_out,
                                            expenses: @accommodation.expenses,
                                            button: "Update Accommodation"
    } %>
    </div>
  </div>
