<div class="container">
  <h1 class="text-center text-4xl">Update Accommodation</h1>

  <div class="container">
    <%= render partial: "accommodations", locals: {
      path: trip_accommodation_path(params[:trip_id], params[:id]),
      method: :patch,
      button: "Update Accommodation"
  } %>
  </div>
</div>


