<div class="container">
  <h1 class="text-center text-4xl">Where are you staying?</h1>

  <div class="container">
    <%= render partial: "accommodations", locals: {
      path: trip_accommodations_path(params[:trip_id]),
      method: :post,
      button: "Create Accommodation"
} %>
  </div>
</div>

