<div class="pt-40 flex items-center justify-center h-screen">
  <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <%= link_to sanitize("&larr; Back to Dashboard"), dashboard_path, class: "btn" %>
    <h5 class="text-xl font-medium text-center text-gray-900 dark:text-white">Add your Activity!</h5>
    <%= simple_form_for :search, url: trip_daily_itineraries_path(params[:trip_id]), method: :post, class: "max-w-sm mx-auto" do |f| %>
      <%= f.input :Date, as: :select, collection: @daily_itineraries.map { |day| [day.date, day.id] }, include_blank: true, input_html: { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"}, label_html: { class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" } %>
      <%= f.button :submit, "Add Activity" %>
    <% end %>
  </div>
</div>

