<div>
   <div>
     <%= image_tag("travelers.png") %>
   </div>
   <div class="mint-cream mint-row">
     <h1 class="text-4xl text-center mulish">
       Your ultimate travel planning companion. Enjoy your trip and let us take away the stress of planning for you.
     </h1>
   </div>
   <div>
     <%= image_tag("full_logo.png", class: "justify-center", alt: "bunny-logo") %>
   </div>
 </div>
