<div id="results">
  <table>
    <tr>
      <td>Name</td>
      <td><%= discover_facade.displayname %></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= discover_facade.address %></td>
    </tr>
    <tr>
      <td>Rating</td>
      <td><%= discover_facade.rating %></td>
    </tr>
    <tr>
      <td>Add to trip?</td>
      <td><%= discover_facade.rating %></td>
    </tr>
  </table>
</div>

