  <ul>
    <% discover_facade.filtered_search_objects.each do |search_result| %>
      <li><%= link_to search_result.display_name, discover_index_path(current_user.id, params:{lat: search_result.lat, lon: search_result.lon}), data: { turbo_method: :get } %>
      </li>
    <% end %>
  </ul>

