<div class="pt-40 container mx-auto">
  <% if @trips.present? %>
    <div id="results">
      <%= render "results_table" %>
      <div id="JSON" data-info=" <%= @search.to_json %>"></div>
    </div>
    <div id="search_form">
      <%= render "search" %>
    </div>
  <% else %>
    <div id="search_form">
      <%= render "search" %>
    </div>
  <% end %>
</div>

