<div class="pt-40 container mx-auto">
  <% if @trips.present? %>
    <div id="results">
      <%= render "results_table" %>
    </div>
    <div data-controller="discover">
      <div id="searchForm"></div>
    </div>
    <div class="search_form">
      <%= render "search" %>
    </div>
  <% else %>
    <div data-controller="discover">
      <div id="searchForm"></div>
    </div>
    <div class="search_form">
      <%= render "search" %>
    </div>
  <% end %>
</div>

